 {{> head }}


 {{> navbar }}

    <div class="row">

        <div class="col-8">

            <h1>Imagen ilustrativa</h1>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, illum.

        </div>

        <div class="col-4">

            <img src="assets/img/paisaje-png-1.png" class="img-thumbnail">
                
        </div>



    </div>
 
 
 
 {{> footer }}